name: Test and Release

on: push

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  JSR_TOKEN: ${{ secrets.JSR_TOKEN }}

permissions:
  contents: write
  issues: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Test
        run: npm test

      - name: Semantic release
        continue-on-error: true
        run: |
          npm install -D @sebbo2002/semantic-release-jsr
          npx semantic-release
